 
H1 {
    color:black;
    text-align: right;
    font-size: 2em;
    font-family: 'Neucha', serif;
}

H2 {
    font-family: 'Neucha', serif;
    font-size: 1.7em;
}

nav {
    text-align: center;
    font-size: 1.3em;
    background-color: #0a5b0b;
    border-radius: 0.4em;
}

nav a{
    color:whitesmoke;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
   font-family: 'Neucha', serif;

}

body {
    display: block;
    margin: 8px;
   
}

.title H1{
    display: inline; 
    vertical-align: top;
    margin-right: .3em;
}

.title img {
  height:4em;
  vertical-align: top;
  float: right;
}

.title{
 display: inline-block;
 float: right;    
  height:4em;
  margin-left: 1.5em;
  margin-bottom: 1.0em;
  vertical-align: top;
}

.postmap { 
    height: 350px; 
    width: 350px;
    display:inline-block;
}

.container{
    margin-right:1em;
    margin-left:1em;
    
}

html{
background: #D4E2C6; 
}
   
@media (max-width: 600px) {
    .photos-map .desktop {
        display:none;
    }
}

@media (min-width: 600px) {
    .photos-map .mobile-only {
        display:none;
    }
}

a[class="current"] {
    font-weight: bold;
    text-decoration: underline;
  
}

a {
    color: black;
    text-decoration: underline;
}

.post{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    
}

aside {
    border-color: darkgreen;
    background-color: lightgray;
    padding: 8px; 
    float:right;
    position:relative;   
}

@media (max-width: 500px) {
    aside {
        display:none;
    }
}  

