<!-- this section from pages/menuscript.tmpl -->
<script>
        function dropdown(id) {        
            if ( id != "DropdownProperties") {
                document.getElementById("DropdownProperties").classList.remove("show")
            }
            if ( id != "DropdownActivities") {
                document.getElementById("DropdownActivities").classList.remove("show")
            }    
            if ( id != "DropdownMaps") {
                document.getElementById("DropdownMaps").classList.remove("show")            
            }
            document.getElementById(id).classList.toggle("show");
        }
            
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
        
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
</script> 
        